* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cv-container {
    width: 210mm;
    min-height: 297mm;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}


.left-section {
    background: #d7e8f8;
    padding: 30px 25px;
}

.profile-pic img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.section {
    margin: 25px 0;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

.section ul {
    margin-top: 10px;
}

.section ul li {
    margin: 6px 0;
    font-size: 15px;
}

.edu-block {
    margin-bottom: 15px;
}

.edu-block .year {
    background: #999;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 5px;
}


.right-section {
    padding: 40px 35px;
}

.name {
    font-size: 36px;
    font-weight: 700;
}

.role {
    color: #666;
    font-size: 20px;
    margin-bottom: 30px;
}

.content-section {
    margin-bottom: 40px;
}

.content-section h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    border-bottom: 2px solid #bababa;
    padding-bottom: 5px;
}

.exp-block {
    margin-bottom: 20px;
}

.exp-header {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.exp-block ul li {
    margin-left: 20px;
    margin-top: 5px;
}

.ref-container {
    display: flex;
    gap: 40px;
}

.ref-box h4 {
    font-size: 18px;
    font-weight: bold;
}

.ref-box p {
    margin: 4px 0;
